*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #426669;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;

}

h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426669;
    font-weight: 600;
    opacity: 0.8;
    
}

main {
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}
.glass {
    background: white ;
    height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 4;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle-1, .circle-2{
    background: white ;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.3));
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    position: absolute;
    z-index: 1;
}

.circle-1 {
    top: 5%;
    right: 16%;


}

.circle-2 {
    bottom: 5%;
    left: 16%;
}

.user img{
border-radius: 80%;
height: 6vh;
width: 8vh;
margin-top: 12px;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.games {
    flex: 2;
}

.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

link h2 {
    padding: 0rem 2rem;
}
.games  {

}

.games h1 {
    margin: 0 0 0 9rem;
    /* position: absolute;
    top: 10px; */
}

.cards {
    margin:2rem 5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top, rgba(255,255,255,0.9),rgba(255,255,255,0.5));
    border-radius:.5rem;
    margin-bottom: 2rem;
    padding: .5rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.card-info {
    display: flex;
    flex-direction: column;
   justify-content: space-between; 
}